.PaginaContacto {
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.contacto-introduccion {
    text-align: center;
    margin-bottom: 30px;
}

.contacto-introduccion h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.formulario {
    margin: o auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
}

.boton-enviar {
    background-color: #2a5298;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.detalles-item, .contacto-mapa,.detalles-item {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}





