/* PAGINA LOGIN */

.form{
    background-color: #ffffff;
    max-width: 450px;
    margin: 30px 20px; /* centra horizontalmente */
    padding: 18px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* TÍTULO */
.form h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0b0d11;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 1.7rem;
}

/* ETIQUETAS */
.form label {
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* CAMPOS DE ENTRADA */
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

form button {
    background-color: #2a5298;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #1e3c72;
}

form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0d0e11;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    
}

form a:hover {
    color: #000000;
    text-decoration: underline;
    transform: translateY(-1px);
}

body {
    background-image: url("../images/CanchaTenisFondo2.jpg"); /* o la ruta que uses */
    background-size: cover;      /* cubre toda la pantalla */
    background-position: center; /* centra la imagen */
    background-attachment: fixed; /* hace que no se mueva al hacer scroll */
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
