.TituloProductos h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.TituloProductos p {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Para que sea responsivo */
    margin-bottom: 40px;
    font-size: 1.4rem;
    padding: 20px 40px;
}

.card1, .card2, .card3{
    flex: 1 1 calc(25% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1 img, .card2 img, .card3 img {
    width: auto;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.card1:hover, .card2:hover, .card3:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-link {
    text-decoration: none;
    color: inherit;
}
