.TituloMarcas{
    margin: 0px auto; /* Importante para centrarlo horizontalmente */
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px 40px;
    border-radius: 10px;
    width: 70%;
    background-color: #dce2e7;
}

.TituloMarcas h2{
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.TituloMarcas p{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.cardsBabolat, .cardsHead, .cardsWilson, .cardsAsics, .cardsNike, .cardsAdidas, .cardsKirschbaum, .cardsLuxilon, .cardsTecnifibre {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Para que sea responsivo */
    margin-bottom: 40px;
    font-size: 1.4rem;
    padding: 20px 40px;
}

.card1, .card2, .card3{
    flex: 1 1 calc(22% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1 img, .card2 img, .card3 img {
    width: 210px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.card1:hover, .card2:hover, .card3:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(8, 8, 8, 0.2);
}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.precio {
    font-size: 1.5rem;
    font-weight: bold;
    color: #050608;
}

.boton-card {
    background-color: #2a5298;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}


