/* ENCABEZADO GENERAL (todas las páginas salvo index) */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #2e5192, #2a5298);
  color: #fff;
  padding: 4px 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left .logo img {
  height: 100px;
  width: auto;
}

.header-left .titulo {
  font-family: 'Poppins', sans-serif;  /* cambia la fuente */
  font-size: 2.2rem;                   /* un poco más grande */
  margin: 0;
  margin-left: 30px;                   /* lo empuja hacia la derecha */
  color: #020202;
  letter-spacing: 2px;
}

/* NAVBAR dentro del header */
.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #000000;
}